@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto+Mono&display=swap');
/*  
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 18px;
    overflow: hidden;
    user-select: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:#111;
}
.content-container {
    position: relative;
    width: 90%;
    max-width: 700px;
    padding: 0 20px 20px;
    text-align: center;
    border: .25em solid #888;
    border-radius: .5em;
    background: #777;
    box-shadow: inset 0 0 10px #222;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: transparent;
    background-color: #565656;
    text-shadow: 2px 2px .75px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text; 
            /* thanks codepen.io/adambundy */
}

.text-container {
    display: block;
    padding: 2px 2%;
    margin: 2% 0 5%;
    font-family: 'Lato', sans-serif;
    font-size: 2.25vmin;
    text-align: left;
    border-radius: 1rem;
    background: #555;
    box-shadow: 0 0 5px #222;
}

.text-container pre {
    word-wrap: break-word;
}
.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    width: 100%;
    font-size: 24px;
}

.input {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    padding: 10px;
    color: white;
    font-size: 3vmin;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    white-space: nowrap;
    border-radius: 1rem;
    background: #222;
    box-shadow: inset 5px 5px 10px #000;
    outline: none;
    overflow: hidden;
}

.round,
.snip {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
}

.snip {
    top: auto;
    bottom: 0;
    color: #222;
    font-size: 1rem;
}