@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto+Mono&display=swap');
/*  
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 18px;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:#111;
}
.content-container {
    width: 90%;
    padding: 20px;
    text-align: center;
    border: .25em solid #888;
    border-radius: .5em;
    background: #777;
}

h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.text-container {
    padding-left: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 2.75vmin;
    text-align: left;
}

.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 24px;
}

.input {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    padding: 10px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    white-space: nowrap;
    border: 3px solid #aaa;
    border-radius: 1rem;
    background: #222;
    overflow: hidden;
}
